#counter {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#counter div, button {
  font-size: 40px;
}

#counter button {
  padding: 5px 20px;
  border-radius: 3px;
  color: white;
  background: green;
  margin: 0 5px;
}

#counter button.dec {
  background: #F44336;
}

#counter .alert {
  margin: 25px;
  font-weight: bold;
}